[Unit]
Description=XBot2 Gui Server
After=network.target

[Service]
User=concert
Group=concert
Type=simple
Restart=always
RestartSec=1
#WorkingDirectory=%h/robot_monitoring
ExecStart=/bin/bash -ic 'cd $HOME; source .bashrc; xbot2_gui_server concert_config.yaml'

[Install]
WantedBy=default.target
